bin/EQTL/Old/*
bin/EQTL/qtltools/*
results/*
docker/*
data/*
bin/software/*
bin/TWAS/generic-metal
bin/TWAS/1000Bull_UMD_GWAS_REF_ALT_SNPs.tab
.snakemake/*
snakepit/trans_mapping.smk
bin/.*
environment.yml
